page-addresslist {
    body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
.padding_30px {
  padding:30px;
  text-align:center;
}
.large_button {
  line-height: 20vh !important;
    width: 100%;
  }
.small_button{
    line-height: 5px !important;
    min-height: 24px !important;
}
.icon_custom {
  font-size:40px;
  padding:10px;
}
}
