<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Place order</ion-title>
  </ion-navbar>
</ion-header>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">  
<ion-content padding>
<!DOCTYPE html>
<html>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="margin-20">
            <h4>Add Address</h4>
          </div>
          <form [formGroup]="placeOrderForm" novalidate (ngSubmit)="save(placeOrderForm)">
            <div formArrayName="catalogs">
                <div *ngFor="let catalog of placeOrderForm.controls.catalogs.controls; let i=index" class="panel panel-default">
                    <div>
                        <span>Catalog {{i + 1}}</span>
                        <span class="glyphicon glyphicon-remove pull-right" *ngIf="placeOrderForm.controls.catalogs.controls.length > 1" (click)="removeCatalog(i)"></span>
                    </div>
                    <div>
                      <div [formGroupName]="i" class="panel-body">                
                          <div class="form-group col-xs-6">
                              <label>Catalog</label>
                              <ion-select class="form-control" formControlName="catalog_id">
                                <ion-option checked=”true” value = “Ash”>Ash</ion-option>
                                <ion-option value = “Bay”>Bay</ion-option>
                                <ion-option value = “Beech”>Beech</ion-option>
                                <ion-option value = “Cedar”>Cedar</ion-option>
                                <ion-option value = “Redwood”>Redwood</ion-option>
                              </ion-select>                            
                          </div>
                          <div class="form-group col-xs-6">
                              <label>Quantity</label>
                              <input type="text" class="form-control" formControlName="quantity">                            
                          </div>
                      </div>
                    </div>
                </div>        
                <div class="margin-20">
                  <a (click)="addCatalog()" style="cursor: default">
                    Add another catalog +
                  </a>
                </div>
                <div class="margin-20">
                  <button type="submit" class="btn btn-primary pull-right" [disabled]="!placeOrderForm.valid">Submit</button>
                </div>
  
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
</ion-content>
       